<footer>
    <div class="content">
        <h3>Dkzäune</h3>
        <div class="row">
                <div class="footer-content__item"><img src="/assets/footer/telephone.png" alt=""> <p>+48 516671635</p></div>
                <div class="footer-content__item"><img src="/assets/footer/adress.png" alt=""> <p>Więcław 11/2 <br> 74-400 Dębno</p></div>
        </div>
        <div class="footer-content__item">
            <img src="/assets/footer/email.png" alt=""> <p>exemple@dkzaune.pl</p>
        </div>
    </div>
</footer>